DATABASE_URL="file:./dev.db"
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=pavels@pzka.lv
SMTP_PASS=your_app_password
SMTP_FROM=pavels@pzka.lv
SMTP_FROM_NAME=ROKOF.LV
JWT_SECRET=your_jwt_secret
